<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"150px","bottom":"220px","left":"20px","right":"20px"},"blockGap":"0px"}},"layout":{"type":"constrained","contentSize":"1140px"}} -->
<main class="wp-block-group" style="padding-top:150px;padding-right:20px;padding-bottom:220px;padding-left:20px"><!-- wp:heading {"textAlign":"center","level":1,"style":{"elements":{"link":{"color":{"text":"var:preset|color|gv-color-text-primary"}}},"typography":{"fontSize":"140px","lineHeight":"1","fontStyle":"normal","fontWeight":"700","letterSpacing":"-0.05em"},"spacing":{"margin":{"bottom":"16px","top":"0px"}}},"textColor":"gv-color-text-primary","fontFamily":"plus-jakarta-sans"} -->
<h1 class="wp-block-heading has-text-align-center has-gv-color-text-primary-color has-text-color has-link-color has-plus-jakarta-sans-font-family" style="margin-top:0px;margin-bottom:16px;font-size:140px;font-style:normal;font-weight:700;letter-spacing:-0.05em;line-height:1">404</h1>
<!-- /wp:heading -->

<!-- wp:heading {"textAlign":"center","style":{"elements":{"link":{"color":{"text":"var:preset|color|gv-color-text-primary"}}},"typography":{"fontSize":"30px"},"spacing":{"margin":{"bottom":"12px"}}},"textColor":"gv-color-text-primary","fontFamily":"almarai"} -->
<h2 class="wp-block-heading has-text-align-center has-gv-color-text-primary-color has-text-color has-link-color has-almarai-font-family" style="margin-bottom:12px;font-size:30px">Page Not Found</h2>
<!-- /wp:heading -->

<!-- wp:group {"style":{"spacing":{"margin":{"bottom":"40px"}}},"layout":{"type":"constrained","contentSize":"470px"}} -->
<div class="wp-block-group" style="margin-bottom:40px"><!-- wp:paragraph {"align":"center","style":{"elements":{"link":{"color":{"text":"var:preset|color|gv-color-text-secondary"}}},"typography":{"fontSize":"20px","lineHeight":"1.6","fontStyle":"normal","fontWeight":"300"}},"textColor":"gv-color-text-secondary","fontFamily":"almarai"} -->
<p class="has-text-align-center has-gv-color-text-secondary-color has-text-color has-link-color has-almarai-font-family" style="font-size:20px;font-style:normal;font-weight:300;line-height:1.6">Lorem ipsum dolor amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:buttons {"className":"contrax-lite-button-primary","layout":{"type":"flex","justifyContent":"center"}} -->
<div class="wp-block-buttons contrax-lite-button-primary"><!-- wp:button {"textColor":"white","className":"is-style-custombuttonone","style":{"typography":{"fontSize":"16px","fontStyle":"normal","fontWeight":"500","textTransform":"uppercase","lineHeight":"1","letterSpacing":"0.05em"},"border":{"radius":"0px"},"spacing":{"padding":{"left":"28px","right":"28px","top":"22px","bottom":"22px"}},"elements":{"link":{"color":{"text":"var:preset|color|white"}}}},"fontFamily":"almarai"} -->
<div class="wp-block-button is-style-custombuttonone"><a class="wp-block-button__link has-white-color has-text-color has-link-color has-almarai-font-family has-custom-font-size wp-element-button" href="#" style="border-radius:0px;padding-top:22px;padding-right:28px;padding-bottom:22px;padding-left:28px;font-size:16px;font-style:normal;font-weight:500;letter-spacing:0.05em;line-height:1;text-transform:uppercase">Back to Home</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->