<!-- wp:template-part {"slug":"header","theme":"contrax-lite","area":"header"} /-->

<!-- wp:pattern {"slug":"contrax-lite/contrax-home-core-hero"} /-->

<!-- wp:pattern {"slug":"contrax-lite/contrax-home-core-about"} /-->

<!-- wp:pattern {"slug":"contrax-lite/contrax-home-core-services"} /-->

<!-- wp:pattern {"slug":"contrax-lite/contrax-home-core-funfact"} /-->

<!-- wp:pattern {"slug":"contrax-lite/contrax-home-core-gallery"} /-->

<!-- wp:pattern {"slug":"contrax-lite/contrax-home-core-process"} /-->

<!-- wp:pattern {"slug":"contrax-lite/contrax-home-core-testimonials"} /-->

<!-- wp:pattern {"slug":"contrax-lite/contrax-home-core-blog"} /-->

<!-- wp:template-part {"slug":"footer","theme":"contrax-lite","area":"footer"} /-->