<!-- wp:template-part {"slug":"header","theme":"contrax-lite","area":"header"} /-->

<!-- wp:pattern {"slug":"contrax-lite/contrax-index-core-hero"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"100px","bottom":"100px"}}},"layout":{"type":"constrained","contentSize":"1290px"}} -->
<div class="wp-block-group" style="padding-top:100px;padding-bottom:100px"><!-- wp:columns {"className":"contrax-responsive-padding-20","style":{"spacing":{"padding":{"top":"10px","bottom":"10px","left":"10px","right":"10px"}}}} -->
<div class="wp-block-columns contrax-responsive-padding-20" style="padding-top:10px;padding-right:10px;padding-bottom:10px;padding-left:10px"><!-- wp:column -->
<div class="wp-block-column"><!-- wp:query {"queryId":47,"query":{"perPage":"6","pages":"0","offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false},"tagName":"main","enhancedPagination":true,"layout":{"type":"default"}} -->
<main class="wp-block-query"><!-- wp:post-template {"style":{"spacing":{"blockGap":"40px"}},"layout":{"type":"grid","columnCount":null,"minimumColumnWidth":"380px"}} -->
<!-- wp:group {"style":{"spacing":{"padding":{"top":"25px","bottom":"25px","right":"25px","left":"25px"}},"border":{"width":"1px"}},"backgroundColor":"white","borderColor":"theme-7","layout":{"type":"constrained"}} -->
<div class="wp-block-group has-border-color has-theme-7-border-color has-white-background-color has-background" style="border-width:1px;padding-top:25px;padding-right:25px;padding-bottom:25px;padding-left:25px"><!-- wp:post-featured-image {"aspectRatio":"auto","width":"","height":"270px"} /-->

<!-- wp:post-terms {"term":"category","style":{"elements":{"link":{"color":{"text":"var:preset|color|theme-2"}}},"spacing":{"padding":{"top":"20px","bottom":"10px","left":"0px","right":"0px"}},"typography":{"fontSize":"14px","fontStyle":"normal","fontWeight":"600"}},"textColor":"theme-2","fontFamily":"almarai"} /-->

<!-- wp:post-title {"level":4,"isLink":true,"className":"contrax-blog","style":{"typography":{"fontStyle":"normal","fontWeight":"600","fontSize":"26px","lineHeight":"1.2"},"elements":{"link":{"color":{"text":"var:preset|color|theme-0"}}},"spacing":{"margin":{"bottom":"5px"}}},"textColor":"theme-0","fontFamily":"almarai"} /-->

<!-- wp:post-date {"style":{"typography":{"fontSize":"14px","fontStyle":"normal","fontWeight":"400"}},"textColor":"theme-6","fontFamily":"almarai"} /-->

<!-- wp:spacer {"height":"12px"} -->
<div style="height:12px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:post-excerpt {"moreText":"Read More","excerptLength":11,"className":"is-style-readmore-padding contrax-text","style":{"elements":{"link":{"color":{"text":"var:preset|color|theme-2"},":hover":{"color":{"text":"var:preset|color|R7kimK"}}}},"typography":{"fontSize":"18px","fontStyle":"normal","fontWeight":"300"}},"textColor":"theme-3","fontFamily":"almarai"} /--></div>
<!-- /wp:group -->
<!-- /wp:post-template -->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"40px"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="padding-top:40px"><!-- wp:query-pagination {"style":{"typography":{"fontSize":"18px"},"elements":{"link":{"color":{"text":"var:preset|color|black"}}}},"fontFamily":"plus-jakarta-sans","layout":{"type":"flex","justifyContent":"center"}} -->
<!-- wp:query-pagination-previous /-->

<!-- wp:query-pagination-numbers /-->

<!-- wp:query-pagination-next /-->
<!-- /wp:query-pagination --></div>
<!-- /wp:group --></main>
<!-- /wp:query --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"contrax-lite","area":"footer"} /-->