<!-- wp:template-part {"slug":"header","theme":"contrax-lite","area":"header"} /-->

<!-- wp:pattern {"slug":"contrax-lite/contrax-single-core-hero"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"100px","bottom":"100px","left":"10px","right":"10px"}}},"layout":{"type":"constrained","contentSize":"800px","wideSize":"800px"}} -->
<main class="wp-block-group" style="padding-top:100px;padding-right:10px;padding-bottom:100px;padding-left:10px"><!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column {"width":"100%","style":{"spacing":{"padding":{"top":"10px","bottom":"10px","left":"10px","right":"10px"}}}} -->
<div class="wp-block-column" style="padding-top:10px;padding-right:10px;padding-bottom:10px;padding-left:10px;flex-basis:100%"><!-- wp:post-featured-image {"height":"300px","style":{"border":{"radius":"0px"},"spacing":{"margin":{"bottom":"30px"}}}} /-->

<!-- wp:post-content {"className":"contrax-text","style":{"typography":{"fontSize":"18px"},"elements":{"link":{"color":{"text":"var:preset|color|theme-3"}}}},"textColor":"theme-3","fontFamily":"almarai"} /-->

<!-- wp:separator {"style":{"spacing":{"margin":{"top":"40px","bottom":"40px"}}},"backgroundColor":"theme-7"} -->
<hr class="wp-block-separator has-text-color has-theme-7-color has-alpha-channel-opacity has-theme-7-background-color has-background" style="margin-top:40px;margin-bottom:40px"/>
<!-- /wp:separator -->

<!-- wp:comments {"className":"wp-block-post-comments","style":{"elements":{"link":{"color":{"text":"var:preset|color|white"}}},"typography":{"fontStyle":"normal","fontWeight":"200","fontSize":"18px"}},"textColor":"white","fontFamily":"almarai"} -->
<div class="wp-block-comments wp-block-post-comments has-white-color has-text-color has-link-color has-almarai-font-family" style="font-size:18px;font-style:normal;font-weight:200"><!-- wp:comments-title {"style":{"elements":{"link":{"color":{"text":"var:preset|color|theme-0"}}},"typography":{"fontStyle":"normal","fontWeight":"500"}},"textColor":"theme-0","fontFamily":"almarai"} /-->

<!-- wp:comment-template {"className":"contrax-text","style":{"spacing":{"padding":{"top":"0","bottom":"0"},"margin":{"bottom":"20px"}},"typography":{"fontSize":"18px"}},"fontFamily":"almarai"} -->
<!-- wp:columns {"style":{"spacing":{"blockGap":{"left":"20px"},"margin":{"bottom":"30px"}}},"fontFamily":"almarai"} -->
<div class="wp-block-columns has-almarai-font-family" style="margin-bottom:30px"><!-- wp:column {"width":"40px"} -->
<div class="wp-block-column" style="flex-basis:40px"><!-- wp:avatar {"size":40,"style":{"border":{"radius":"20px"}}} /--></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:comment-author-name {"className":"contrax-text","style":{"elements":{"link":{"color":{"text":"var:preset|color|theme-0"}}}},"textColor":"theme-0","fontSize":"small"} /-->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"0px","bottom":"0px"},"blockGap":"10px"},"elements":{"link":{"color":{"text":"var:preset|color|theme-2"}}}},"textColor":"theme-2","layout":{"type":"flex"}} -->
<div class="wp-block-group has-theme-2-color has-text-color has-link-color" style="margin-top:0px;margin-bottom:0px"><!-- wp:comment-date {"style":{"elements":{"link":{"color":{"text":"var:preset|color|black"}}}},"textColor":"black","fontSize":"small"} /-->

<!-- wp:comment-edit-link {"style":{"elements":{"link":{"color":{"text":"var:preset|color|theme-2"}}}},"fontSize":"small"} /--></div>
<!-- /wp:group -->

<!-- wp:comment-content {"className":"contrax-text","style":{"elements":{"link":{"color":{"text":"var:preset|color|luminous-vivid-orange"}}},"typography":{"fontSize":"18px"}},"textColor":"black","fontFamily":"almarai"} /-->

<!-- wp:comment-reply-link {"style":{"elements":{"link":{"color":{"text":"var:preset|color|theme-2"}}},"typography":{"fontSize":"18px"}},"fontFamily":"almarai"} /--></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->
<!-- /wp:comment-template -->

<!-- wp:comments-pagination {"style":{"elements":{"link":{"color":{"text":"var:preset|color|theme-2"}}},"typography":{"fontSize":"18px"}},"textColor":"theme-0","fontFamily":"almarai","layout":{"type":"flex","justifyContent":"space-between"}} -->
<!-- wp:comments-pagination-previous /-->

<!-- wp:comments-pagination-numbers /-->

<!-- wp:comments-pagination-next /-->
<!-- /wp:comments-pagination -->

<!-- wp:post-comments-form {"style":{"elements":{"link":{"color":{"text":"var:preset|color|theme-2"}}},"spacing":{"margin":{"top":"40px"}}},"textColor":"theme-0"} /--></div>
<!-- /wp:comments --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"contrax-lite","area":"footer"} /-->