<!-- wp:template-part {"slug":"header","theme":"contrax-lite","area":"header"} /-->

<!-- wp:pattern {"slug":"contrax-lite/contrax-about-gutenverse-hero"} /-->

<!-- wp:pattern {"slug":"contrax-lite/contrax-gutenverse-funfact"} /-->

<!-- wp:pattern {"slug":"contrax-lite/contrax-about-gutenverse-mission-vision"} /-->

<!-- wp:pattern {"slug":"contrax-lite/contrax-about-gutenverse-about"} /-->

<!-- wp:pattern {"slug":"contrax-lite/contrax-about-gutenverse-team"} /-->

<!-- wp:template-part {"slug":"footer","theme":"contrax-lite","area":"footer"} /-->