<!-- wp:template-part {"slug":"header","theme":"contrax-lite","area":"header"} /-->

<!-- wp:pattern {"slug":"contrax-lite/contrax-home-gutenverse-hero"} /-->

<!-- wp:pattern {"slug":"contrax-lite/contrax-home-gutenverse-about"} /-->

<!-- wp:pattern {"slug":"contrax-lite/contrax-home-gutenverse-services"} /-->

<!-- wp:pattern {"slug":"contrax-lite/contrax-gutenverse-funfact"} /-->

<!-- wp:pattern {"slug":"contrax-lite/contrax-home-gutenverse-gallery"} /-->

<!-- wp:pattern {"slug":"contrax-lite/contrax-home-gutenverse-process"} /-->

<!-- wp:pattern {"slug":"contrax-lite/contrax-home-gutenverse-testimonials"} /-->

<!-- wp:pattern {"slug":"contrax-lite/contrax-home-gutenverse-blog"} /-->

<!-- wp:template-part {"slug":"footer","theme":"contrax-lite","area":"footer"} /-->